{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ABOUT -->
<section id="about">
    <div class="container">
        <div class="row">
            <h2 class="text-center">AIIMER - Ahdal Institute of Islamic Management and Engineering</h2>
            <div class="col-md-6 col-sm-12">
                <div class="about-info">                    
                    <figure>
                        <span><i class="fa fa-users"></i></span>
                        <figcaption>
                            <h3>A Supportive Learning Community</h3>
                            <p>Be part of a vibrant environment that nurtures faith, knowledge, and personal growth.</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <span><i class="fa fa-certificate"></i></span>
                        <figcaption>
                            <h3>Integrated Learning Approach</h3>
                            <p>A curriculum that foster critical thinking, innovation and ethical leadership.</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <span><i class="fa fa-building"></i></span>
                        <figcaption>
                            <h3>State-of-the-Art Facilities</h3>
                            <p>Modern classrooms, labs, libraries and spaces for Islamic dscourse and worship.</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="about-info">
                    <figure>
                        <span><i class="fa fa-graduation-cap"></i></span>
                        <figcaption>
                            <h3>University Courses</h3>
                            <p>Comprehensive programs in engineering, computer science, business and more, designed to prepare 
                                students for the modern workforce
                            </p>
                        </figcaption>
                    </figure>
                    <figure>
                        <span><i class="fa fa-book"></i></span>
                        <figcaption>
                            <h3>Academics and Spirituality</h3>
                            <p>Dual focus on academics and spirituality to develop both your intellectual and spritual potential.</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <span><i class="fa fa-briefcase"></i></span>
                        <figcaption>
                            <h3>Career-Oriented Programs</h3>
                            <p>Equipping students with industry-relevent skills for success.</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}