{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Courses -->
<section id="courses">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
            <div class="section-title">
                <h4>Courses <small>Upgrade your skills with newest courses</small></h4>
            </div>
            <div class="owl-carousel owl-theme owl-courses">
                {% for course in courses %}
                    <div class="col-md-4 col-sm-4">
                        <div class="item">
                            <div class="courses-thumb">
                                <div class="courses-top">
                                    <div class="courses-image">
                                        <img src="{{ course.image.url }}" class="img-responsive" alt="course_image" />
                                    </div>
                                </div>
                                <div class="courses-detail">
                                    <h3><a href="#">{{ course.course_name }}</a></h3>
                                    <p>{{ course.description }}</p>
                                </div>
                                <div class="courses-info">
                                    <div class="courses-duration">
                                        <span><i class="fa fa-clock-o"></i> Duration: {{ course.duration }}</span>
                                    </div>
                                    <div class="courses-price">
                                        <span>Fee: INR {{ course.fee }}</span>
                                    </div>
                                </div>
                                <div class="apply-btn">
                                    <a href="{% url 'registration' %}" class="btn btn-apply">Apply Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>No courses available right now.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</section>   
<!-- End Courses -->
{% endblock %}