{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- HOME -->
<section id="home">
     <div class="row">
          <div class="owl-carousel owl-theme home-slider">
               <div class="item item-first">
                    <div class="caption">
                         <div class="container">
                              <div class="col-md-6 col-sm-12">
                                   <h1>Ahdal Institute of Islamic Management and Engineering</h1>
                                   <h3>Dual Focus on Academics and Sprituality - Develop both your intellectual and spritual potential.</h3>
                                   <a href="#feature" class="section-btn btn btn-default smoothScroll">Discover more</a>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="item item-second">
                    <div class="caption">
                         <div class="container">
                              <div class="col-md-6 col-sm-12">
                                   <h1>Start your journey with our courses</h1>
                                   <h3>Career-Oriented Programs - Equipping studens with industry-relevent skills for success.</h3>
                                   <a href="#courses" class="section-btn btn btn-default smoothScroll">Take a course</a>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="item item-third">
                    <div class="caption">
                         <div class="container">
                              <div class="col-md-6 col-sm-12">
                                   <h1>Efficient Learning Methods</h1>
                                   <h3>A Supportive Learning Community - Learn how to apply Islamic principles in personal and professional life. <a rel="nofollow" href="https://www.facebook.com/templatemo">templatemo</a> page.</h3>
                                   <a href="#contact" class="section-btn btn btn-default smoothScroll">Let's chat</a>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>

<!-- FEATURE -->
<section id="feature">
     <div class="container">
          <div class="row">
               <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                         <span>01</span>
                         <h3>Our Mission</h3>
                         <p style="text-align: justify;">
                              We believe that true success lies in the balance o fknowledge and values. Our goal is to empower
                              students with the technical expertise needed to excel in their careers while instilling in them the
                              ethical and moral principles of Islam.
                         </p>
                    </div>
               </div>
               <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                         <span>02</span>
                         <h3>What We Offer</h3>
                         <p style="text-align: justify;">
                              <b>University Courses:</b> Comprehensive programs in engineering, computer science, business, and more,
                              designed to prepare students for the modern workforce.<br><b>Islamic Studies:</b> Courses on Qur'anic studies, 
                              Hadith, Fiqh and Islamic history, ensuring a deep understanding of faith and its application in daily life.
                         </p>
                    </div>
               </div>
               <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                         <span>03</span>
                         <h3>Why Choose Us?</h3>
                         <p style="text-align: justify;">
                              <b>Dual Focus on Academics and Spirituality</b> - Develop both your intellectual and spiritual potential.
                              <b>Carrer-Oriented Programs</b> - Equipping students with industry-relevant skills for success.
                              <b>Ethical and Value-Based Education</b> - Learn how to apply Islamic principles in personal and professional life.                         </p>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- End Feature -->

<!-- Courses -->
<section id="courses">
     <div class="container">
          <div class="row">
               <div class="col-md-12 col-sm-12">
               <div class="section-title">
                    <h2>Popular Courses <small>Upgrade your skills with newest courses</small></h2>
               </div>
               <div class="owl-carousel owl-theme owl-courses">
                    {% for course in courses %}
                         <div class="col-md-4 col-sm-4">
                              <div class="item">
                                   <div class="courses-thumb">
                                        <div class="courses-top">
                                             <div class="courses-image">
                                                  <img src="{{ course.image.url }}" class="img-responsive" alt="course_image" />
                                             </div>
                                        </div>
                                        <div class="courses-detail">
                                             <h3><a href="#">{{ course.course_name }}</a></h3>
                                             <p>{{ course.description }}</p>
                                        </div>
                                        <div class="courses-info">
                                             <div class="courses-duration">
                                                  <span><i class="fa fa-clock-o"></i> Duration: {{ course.duration }}</span>
                                             </div>
                                             <div class="courses-price">
                                                  <span>Fee: INR {{ course.fee }}</span>
                                             </div>
                                        </div>
                                        <div class="apply-btn">
                                             <a href="{% url 'registration' %}" class="btn btn-apply">Apply Now</a>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    {% empty %}
                         <p>No courses available right now.</p>
                    {% endfor %}
               </div>
          </div>
     </div>
</section>   
<!-- End Courses -->
{% endblock %}