{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- TEAM -->
<section id="team">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Our Team</h2>
            <!-- Chief Patron -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <div class="border p-3 text-center shadow-sm rounded bg-light">
                            <h4 class="bg-primary text-white py-2 rounded">Chief Patron</h4>
                            <div class="team-image my-3">
                                <img src="{% static 'images/abdusalam.jpeg' %}" 
                                    class="img-fluid" 
                                    style="height: 200px; width: 150px; object-fit: cover;" 
                                    alt="Chief Patron">
                            </div>
                            <div class="team-info">
                                <h5 class="mb-0 text-nowrap">Dr. Abdul Salam Muhammed</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>     

            <!-- Directors -->            
            <div class="container">
                <div class="col-md-9 text-center mt-3">
                    <div class="row justify-content-center">
                        <h4 class="bg-primary text-white py-2">Directors</h4>
                        <div class="col-md-4">
                            <div class="border p-3 text-center shadow-sm rounded bg-light">
                                <div class="team-image my-3">
                                    <img src="{% static 'images/sabith_saquafi.JPG' %}" 
                                        class="img-fluid" 
                                        style="height: 200px; width: 150px; object-fit: cover;" 
                                        alt="director">
                                </div>
                                <div class="team-info">
                                    <h5 class="mb-0 text-nowrap">Muhammed Sabith Saqafi</h5>
                                    <span>B.Com, MBA</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="border p-3 text-center shadow-sm rounded bg-light">
                                <div class="team-image my-3">
                                    <img src="{% static 'images/ali_ashar.JPG' %}" 
                                        class="img-fluid" 
                                        style="height: 200px; width: 150px; object-fit: cover;" 
                                        alt="director">
                                </div>
                                <div class="team-info">
                                    <h5 class="mb-0 text-nowrap">Ali Ashar</h5>
                                    <span>MBA</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="border p-3 text-center shadow-sm rounded bg-light">
                                <div class="team-image my-3">
                                    <img src="{% static 'images/shameer_kamal.JPG' %}" 
                                        class="img-fluid" 
                                        style="height: 200px; width: 150px; object-fit: cover;" 
                                        alt="director">
                                </div>
                                <div class="team-info">
                                    <h5 class="mb-0 text-nowrap">Shameer Kamal</h5>
                                    <span>MBA</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Academic Advisors -->            
            <div class="container">
                <div class="col-md-6 text-center mt-3">
                    <div class="row justify-content-center">
                        <h4 class="bg-primary text-white py-2">Academic Advisors</h4>
                        <div class="col-md-6">
                            <div class="border p-3 text-center shadow-sm rounded bg-light">
                                <div class="team-image my-3">
                                    <img src="{% static 'images/nizam_rahman.JPG' %}" 
                                        class="img-fluid" 
                                        style="height: 200px; width: 150px; object-fit: cover;" 
                                        alt="academic_advisor">
                                </div>
                                <div class="team-info">
                                    <h5 class="mb-0 text-nowrap">Dr. Nisam Rahman A</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="border p-3 text-center shadow-sm rounded bg-light">
                                <div class="team-image my-3">
                                    <img src="{% static 'images/shameer.JPG' %}" 
                                        class="img-fluid" 
                                        style="height: 200px; width: 150px; object-fit: cover;" 
                                        alt="academic_advisor">
                                </div>
                                <div class="team-info">
                                    <h5 class="mb-0 text-nowrap">Dr. Shameer</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                        
        </div>
    </div>
</section>
{% endblock %}
